body
{
    font-family: 'Irish Grover', cursive;
    background-color: rgb(214, 186, 191);
}

.header_div
{
    background-color: white;
    color: tomato;
}

.header_div p
{
    font-family: 'Zen Kurenaido', sans-serif;
    color: grey;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
    font-family: 'Fruktur', cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copyright-footer
{
    position: fixed;
    color: grey;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    background-color: black;
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5px 5px lightgray;

}